fullnameOverride: "argocd"

destination:
  namespace: argocd

project: cicd

source:
  path: src/charts/technical/argo-cd
  repoURL: https://github.com/nolte/argo-bootstrap.git
  targetRevision: HEAD
  helm:
    version: v3 