# Helm resources
src/applications/*/deploy/chart/charts
*.tgz
*.img
Chart.lock


.back
packer_cache

packer_cache

src/clusters/dev-kind-monitoring-light

hack/packer/output-*
hack/packer/builds/*.box

*.gen.tf
.terraform
*.tfvars.json
.terragrunt-cache
*.tfstate
.vscode

.task
