export NETBOX_API=http://localhost:8081
export NETBOX_TOKEN=$(kubectl -n netbox get secrets netbox-operator-app-superuser -ojson | jq '.data.api_token' -r | base64 -d)

export ANSIBLE_INVENTORY=$(pwd)/inventory/inventory.yaml