source_up
# export PROXMOX_VE_API_TOKEN="$(gopass private/services/proxmox/users/root/token)"
export PROXMOX_VE_INSECURE="true"
export PROXMOX_VE_ENDPOINT="$(gopass private/services/proxmox/endpoint)"
export PROXMOX_VE_USERNAME="$(gopass private/services/proxmox/username)@pam"
export PROXMOX_VE_PASSWORD="$(gopass private/services/proxmox/password)"
