apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: esphome
  #annotations:
  #  argocd.argoproj.io/sync-wave: "-33"
spec:
  destination:
    name: in-cluster
    namespace: esphome
  project: default
  sources:
  - helm:
      releaseName: projectcontour-mixin
      parameters:
        - name: httpProxy.create
          value: "false"
        - name: httpProxy.fqdn
          value: esphome.smart-home.k8sservices.local
      values: |-
        httpProxy:
          create: false
          fqdn: argo.smart-home.k8sservices.local
          tls:
            secretName: cert-manager/wildcard-duckdns-org-tls
          routes:
          - enableWebsockets: true
            services:
            - name: esphome
              port: 6052
    path: charts/stable/projectcontour-mixin/
    repoURL: https://github.com/nolte/helm-charts-repo.git
    targetRevision: main
  - chart: app-template
    repoURL: https://bjw-s.github.io/helm-charts
    targetRevision: 3.0.3
    helm:
      releaseName: esphome
      values: |

        controllers:
          main:
            type: statefulset
            annotations:
              reloader.stakater.com/auto: "true"          
            initContainers:
              gitinit:
                env:
                  - name: "GITSYNC_BRANCH"
                    value: "master"
                  - name: "GITSYNC_REPO"
                    value: "https://github.com/nolte/esphome-configs.git"
                  - name: "GITSYNC_ROOT"
                    value: "/config"
                  - name: "GIT_SYNC_DEST"
                    value: "repo"
                  - name: "GITSYNC_ONE_TIME"
                    value: "true"
                image:
                  repository: registry.k8s.io/git-sync/git-sync
                  tag: "v4.2.1"
                imagePullPolicy: IfNotPresent
                name: git-init

            containers:
              gitsync:
                dependsOn: main
                env:
                  - name: "GITSYNC_BRANCH"
                    value: "master"
                  - name: "GITSYNC_REPO"
                    value: "https://github.com/nolte/esphome-configs.git"
                  - name: "GITSYNC_ROOT"
                    value: "/config"
                  - name: "GIT_SYNC_DEST"
                    value: "repo"
                image:
                  repository: registry.k8s.io/git-sync/git-sync
                  tag: "v4.2.1"
                imagePullPolicy: IfNotPresent
                name: git-init
                # volumeMounts:
                # - mountPath: /config
                #   name: config                
              main:
                envFrom:
                  - secretRef: 
                      name: esphome-config            
                image:
                  repository: esphome/esphome
                  # https://hub.docker.com/r/esphome/esphome/tags
                  tag: "2024.2.1"
        service:
          main:
            ports:
              http:
                port: 6052
        defaultPodOptions:
          hostNetwork: true
          dnsConfig:
            nameservers:
              - 192.168.178.1          
        persistence:
          config:
            enabled: true
            type: emptyDir
            advancedMounts:
              main: # the controller with the "main" identifier
                main:
                  - path: /config
                    subPath: repo
                gitinit:
                  - path: /config
                gitsync:
                  - path: /config
