apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: netbox
  # labels:
  #   de.noltarium.workflows/enabled: "true"
spec:
  destination:
    name: in-cluster
    namespace: netbox
  project: default
  sources:
    - helm:
        releaseName: netbox
        parameters: []
        # valuesObject:           
      # https://github.com/netbox-community/netbox-chart/blob/main/charts/netbox/values.yaml
      chart: netbox
      repoURL: ghcr.io/netbox-community/netbox-chart
      targetRevision: 7.2.15

  ignoreDifferences:
    - group: v1
      kind: Secret
      name: netbox-postgresql
   