# export TF_VAR_proxmox_token=$(gopass private/services/proxmox/users/kubernetes-csi@pve/token)
# export TF_VAR_proxmox='{ cluster_name: "pve", insecure: true, endpoint: "'$(gopass private/services/proxmox/endpoint)'" }' 
export TF_VAR_known_hosts="$(ssh-keyscan -t rsa github.com)"