apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: powerdns
  #annotations:
  #  argocd.argoproj.io/sync-wave: "10"
spec:
  destination:
    name: in-cluster
    namespace: powerdns

  project: default
  sources:
    - helm:
        releaseName: argo-workflow-mixin
        parameters: []
        values: |-
          cmTfStaticEndpoints:
            create: true

          role:
            tfState:
              create: false
              name: argo-workflows-execution
            type: ClusterRole
            vaultInjector:
              create: false
              name: argo-workflows-execution
          roleBinding:
            tfState:
              create: true
            type: Role
            vaultInjector:
              create: true
          serviceAccount:
            create: true

          configurationWorkflows:
            post-install:
              type: terragrunt
              workflow: true
              terraform:
                action: apply
              extraSourceElements:
                - "source /vault/secrets/pdnsaccess"
              extraAnnotations:
                # Load a Secret for Terraform State file access
                vault.hashicorp.com/agent-inject-secret-pdnsaccess: secrets-tf/services/dns/users/root
                vault.hashicorp.com/agent-inject-template-pdnsaccess: |
                  {{- with secret "secrets-tf/services/dns/users/root" -}}
                  export PDNS_API_KEY={{ .Data.data.token }}
                  {{- end }}
              extraEnv:
                - name: PDNS_SERVER_URL
                  value: http://powerdns.{{.Release.Namespace}}.svc:8081
              source:
                repo: https://github.com/nolte/k8s-home-lab.git
                path: ./src/applications/powerdns/configuration/baseline
                revision: master


      path: charts/stable/argo-workflow-mixin/
      repoURL: https://github.com/nolte/helm-charts-repo.git
      targetRevision: main


    - chart: app-template
      repoURL: https://bjw-s-labs.github.io/helm-charts
      targetRevision: 4.5.0
      helm:
        releaseName: powerdns
        values: |
          controllers:
            main:
              strategy: Recreate
              containers:
                main:
                  image:
                    # https://hub.docker.com/r/powerdns/pdns-recursor-50/tags
                    repository: powerdns/pdns-auth-48
                    tag: "4.8.5"

                  env:
                    # -- Config dir
                    PDNS_AUTH_API_KEY: "supersecretpw"

          configMaps:
            config:
              enabled: true
              annotations:
                reloader.stakater.com/match: "true"
              data:
                # https://doc.powerdns.com/authoritative/settings.html#local-port
                pdns-extra.conf: |
                  local-port=1053
                  loglevel=6
          persistence:
            config:
              enabled: true
              type: configMap
              name: powerdns-config
              globalMounts:
                - path: /etc/powerdns/pdns.d/pdns-extra.conf
                  subPath: pdns-extra.conf
          service:
            main:
              ports:
                http:
                  port: 8081
            dns:
              type: ClusterIP
              controller: main
              ports:
                udp:
                  enabled: true
                  port: 1053
                  protocol: UDP
                tcp:
                  enabled: true
                  port: 1053
                  protocol: TCP
