export PROXMOX_VE_ENDPOINT="$(gopass private/services/proxmox/endpoint)"
export PROXMOX_VE_USERNAME="$(gopass private/services/proxmox/username)"
export PROXMOX_VE_PASSWORD="$(gopass private/services/proxmox/password)"